{{#> layout/base title="Brands" }}
  {{#*inline "container-layout" }}

    <h1>{{name}}</h1>
    <ul>
      {{#each resources}}
        <li>Name: {{name}}</li>
      <hr>
      {{/each}}
    </ul>

  {{/inline}}
{{/layout/base}}
